body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2980b9;
}

.hero {
    min-height: 70vh;
    display: flex;
    align-items: center;
    background-image: url('game1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

header {
    background-color: #f1c40f;
    padding: 20px;
}

header h1 {
    margin: 0;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    text-align: center;
    padding: 50px 20px;
    margin-left: 10%;
}

.btn-play {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-play:hover {
    background-color: #2980b9;
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}